# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Firebase
auth/*.json


# Railway
.railway/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db